#table {
    padding: 100px 0;
}

.delete {
    cursor: pointer;
}

#editor {
    display: none;
    padding: 100px 0;
}

th, td {
    text-align: center;
}
tbody tr {
    cursor: pointer;
}

.question__item {
    padding: 30px 40px 30px 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
}

.question__element, .question__header {
    position: relative;
}

.remove {
    width: 17px;
    height: 17px;
    line-height: 12px;
    padding: 0 6px;
    background-color: #dc3545;
    border-radius: 17px;
    position: absolute;
    color: #ffffff;
    font-weight: bold;
    right: -22px;
    top: calc(50% - 17px / 2);
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
}

.remove:hover {
    background-color: #c82333;
}

.enable {
    position: absolute;
    left: -40px;
    top: 30px;
}

.enable .custom-control-label:before,
.enable .custom-control-label:after {
    height: 25px;
    width: 25px;
}

.menu {
    height: 24px;
    position: fixed;
    cursor: pointer;
    top: 8px;
    left: 16px;
    z-index: 10;
    display: none;
}

.menu__img {
    height: 100%;
}

.sidebar {
    width: 300px;
    overflow: hidden;
    height: 100vh;
    padding-top: 50px;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.4);
    background-color: #ffffff;
    position: fixed;
    padding-left: 20px;
    top: 0;
    z-index: 9;
    left: -300px;
    transition: left 600ms;
}

.page__wrapper {
    width: 100%;
    transition: width 600ms;
}

.add-sub__img {
    width: 17px;
    margin-right: 5px;
}

.add {
    position: absolute;
    top: 8px;
    right: 16px;
    width: 24px;
    cursor: pointer;
}

.edit__img {
    width: 17px;
    margin-left: 3px;
}
